@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HABLAME</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start Talking</h2>
        @{ 
            Html.RenderAction("SetupConversation", "Conversation", new
            {
                teacherId = "a3250996-fa99-4299-b44a-8fb0be5386e5"
            });
        }
    </div>
    <div class="col-md-4">
        <h2>Recent Conversations</h2>
        @{
            Html.RenderAction("RecentConversations", "Conversation", new
            {
                teacherId = "a3250996-fa99-4299-b44a-8fb0be5386e5"
            });
        }
    </div>
    <div class="col-md-4">
        <h2>Find Student</h2>
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

