@model Hablame.Services.Viewmodels.FriendListViewModel

@{ 
    if (@Model.FriendList != null)
        {
        foreach (var friend in @Model.FriendList)
        {
            <ul>
                <li>
                    <a href="conversation?studentId=@friend.Id">@friend.Forename @friend.Surname</a>
                </li>
            </ul>
        }
    }
}