@model Hablame.Services.Viewmodels.RecentConversationsViewModel

<ul>
    @{ 
        foreach (var item in Model.ConversationSummaries)
        {
            <li>Conversation in @item.Language with @item.StudentForename @item.StudentSurname on @item.StartDateTime <a href="Report?conversationId=@item.ConversationId">View Report</a></li>
        }
    }
</ul>

<button type="submit" class="btn btn-default">View All</button>